<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login to Your Account</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
