<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="signup-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Create Your Account</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" [disabled]="signUpForm.invalid">Sign Up</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
